wheel==0.45.1
pandas==2.2.3
numpy==2.2.5
plotly==5.15.0
plotly-express==0.4.1
ollama==0.4.8
ipywidgets
jupyter
duckdb==1.2.2
openai==1.77.0 
pointblank==0.6.3 
google-genai==1.15.0
google-generativeai